__pycache__
*.py[cod]
*.so
*.egg-info
.env
.git
.gitignore
.cache
*.log
**/.mypy_cache
**/.pytest_cache
.idea
.vscode
data/
datasets/
models/
*.pt
*.onnx
*.ckpt
*.tar
*.zip
*.gz
*.whl
build/
dist/
venv/
.venv/
node_modules/
